<h1 class='text-center'>Have Fun</h1>

<!-- drawing chess board -->
<table class='chess-board chess-squares' data-game='<%= @game.id %>' id='board'>
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <% calc_id = (row * 8) + (column + 1) %>
        <td ondragover='return false' ondrop='drop(event)' id='<%= calc_id %>'>
          <% if @game.piece_at(row, column) %>
            <span class='glyphicon glyphicon-<%= @game.piece_at(row, column).glyph %>  piece
                  <%= @game.piece_at(row, column).color %>' aria-hidden='true'ondragstart='drag(event)'
                  draggable='true' id='<%= calc_id %>p' data-piece=<%= @game.piece_at(row, column).id %>>
            </span>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<script>
  function drag(event) {
    event.dataTransfer.setData('Piece', event.target.id);
    event.dataTransfer.setData('id', event.target.getAttribute('data-piece'));
  }

  function drop(event) {
    event.preventDefault();
    var pieceEl = event.dataTransfer.getData('Piece');
    var pieceId = event.dataTransfer.getData('id');
    var gameId = document.getElementById("board").getAttribute("data-game");
    var postUrl = "/games/" + gameId + "/pieces/" + pieceId + ".json";
    var token = $("meta[name='csrf-token']").attr("content");
    if (parseInt(event.target.id) % 8 == 0) {
      var xCoord = parseInt(parseInt(event.target.id) / 8) - 1;
      var yCoord = 7;
    } else {
      var xCoord = parseInt(parseInt(event.target.id) / 8);
      var yCoord = parseInt(parseInt(event.target.id) % 8) - 1;
    }
//    console.log(pieceEl + " " + pieceId + " " + gameId + " " + postUrl + "\n" + token
//                + " " + xCoord.toString() + " " + yCoord.toString() + " " + event.target.id);
    $.ajax({
      url: postUrl,
      method: "PUT",
      data: {
        authenticity_token: token,
        x_coord: xCoord,
        y_coord: yCoord
      },
      dataType: "json"
    });
    window.location.reload();
  }
</script>
