<h1 class='text-center'>Have Fun</h1>
<br />

 <h2 class='text-center'>
    <% User.online.each do |user| %>
      It is <%= current_user.email %> turn! 
    <% end %>
 </h2>
      
<!-- drawing chess board -->
<table class='chess-board chess-squares' data-game='<%= @game.id %>'
       data-firebase='<%= @game.firebase_key %>' id='board'>
  <% 8.times do |row| %>
    <tr>
      <% 8.times do |column| %>
        <% calc_id = (row * 8) + (column + 1) %>
        <td ondragover='return false' ondrop='drop(event)' id='<%= calc_id %>'
            data-row='<%= row %>' data-column='<%= column %>'></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p id='piece-warning'></p>

<script>
  $(document).ready(function(){
    drawBoard();
    initFirebase();
  });
</script>
