<!DOCTYPE html>
<html>
<head>
  <title>Chess</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="headerbg">
    <h2>Team Fischer</h2>
    <% if user_signed_in? %>
      <p><%= current_user.email %></p>
    <% end %>
  </div>


<script>
+  window.fbAsyncInit = function() {
+    FB.init({
+      appId      : '385815088277667',
+      xfbml      : true,
+      version    : 'v2.3'
+    });
+  };
+
+  (function(d, s, id){
+     var js, fjs = d.getElementsByTagName(s)[0];
+     if (d.getElementById(id)) {return;}
+     js = d.createElement(s); js.id = id;
+     js.src = "//connect.facebook.net/en_US/sdk.js";
+     fjs.parentNode.insertBefore(js, fjs);
+   }(document, 'script', 'facebook-jssdk'));
+</script>
<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>



</body>
<br />
<br />
<div class="clear">
  <footer class = "text-center">
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    <% end %>
  </footer>
</div>

</html>
